<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1" >

        <h3 class="my-1" th:text="#{titulo.tipousuarios}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{titulo.cadastros.tipousuarios}"/> 


            <!-- form complex example -->
            <div class="card-body">
                <form th:action="${tipousuario.cdTipousuario == null}?  @{/tipousuario/save}: @{/tipousuario/update}" th:object="${tipousuario}" method="post">
                    <div class="form-row mt-4">
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdTipousuario"  th:text="#{lbcodigo}"/>
                            <input type="text" class="form-control" id="cdTipousuario" th:placeholder="#{lbcodigo}" th:field="*{cdTipousuario}" th:readonly="${tipousuario.cdTipousuario != null}" style="text-transform:uppercase"/>
                            <span th:if="${#fields.hasErrors('cdTipousuario')}" th:errors="*{cdTipousuario}" class="badge badge-danger" th:readonly="${tipousuario.cdTipousuario == null}"/>
                        </div>
                        <div class="col-sm-7 pb-3 pr-3">
                            <label th:for="dsTipousuario" th:text="#{lbdescricao}"/>
                            <input type="text" class="form-control" id="dsTipousuario" th:placeholder="#{lbdescricao}" th:field="*{dsTipousuario}"/>
                            <span th:if="${#fields.hasErrors('dsTipousuario')}" th:errors="*{dsTipousuario}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-3 col-lg-3 ">
                            <label th:for="stAtivo"   th:text="#{lbstatus}"/>
                            <select id="stAtivo" class="form-control" th:field="*{stAtivo}" >
                                <option th:value="true" th:text="#{lbativo}"/>
                                <option th:value="false" th:text="#{lbinativo}"/>
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/tipousuario/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        </form>
        <script type="text/javascript">
            $(window).on('load', function () {

                $('.selectpicker').selectpicker({

                });
            });
        </script>  
    </div>
</div>