>
<div class="container  col-sm-12 col-md-6 offset-md-1" th:fragment="corpo">
    <hr class="my-3">


    <div class="card mb-3">
        <h3 th:text="#{titulo.tipousuarios}"></h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div th:if="${errorMessage}" class="alert alert-danger"
                 role="alert" th:text=${errorMessage}/>
            <div class="alert alert-success" th:if="${message}" th:text="${message}" role="alert"/>
            <div class="card mb-3">
                <div class="card-header">
                    <a class="btn btn-primary" th:href="@{/tipousuario/add}" th:text="#{lbadicionar}"></a>

                </div>
            </div>
            <table class="table table-striped table-bordered nowrap" id="dataTable">
                <thead>
                    <tr>
                        <th th:text="#{lbcodigo}">Cód</th>
                        <th th:text="#{lbdescricao}">Descrição</th>
                        <th th:text="#{lbstatus}">Status</th>
                        <th th:text="#{lbacao}">Ação</th>
                    </tr>
                </thead>
                <tbody id="dados">
                    <tr th:each="e : ${tipousuarios}" th:class="${!e.stAtivo}? 'table-danger': ''" >
                        <td th:text="${e.cdTipousuario}"></td>
                        <td th:text="${e.dsTipousuario} "></td>
                        <td> <span th:class="${e.stAtivo}? 'fas fa-check' : 'fas fa-ban'"/></td>
                        <td>
                            <a class="btn btn-info" th:href="@{/tipousuario/update/{id}(id=${e.cdTipousuario})}" th:text="#{lbeditar}"></a>
                            <a class="btn btn-danger" th:href="@{/tipousuario/delete/{id}(id=${e.cdTipousuario})}" th:text="#{lbexcluir}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({

                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Detalhes de ' + data[0] + ' ' + data[1];
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                            tableClass: 'table'
                        })
                    }
                },
                language: {
                    lengthMenu: "Exibindo _MENU_ registros por página",
                    zeroRecords: "Nada encontrado - desculpe :(",
                    info: "Exibindo página _PAGE_ de _PAGES_",
                    infoEmpty: "Nenhum registro disponível",
                    search: "Pesquisar",
                    paginate: {
                        first: "Primeiro",
                        last: "Último",
                        next: "Próximo",
                        previous: "Anterior"
                    },
                    infoFiltered: "(filtrado de _MAX_ registros totais)"
                }
            });
        });
    </script>

</div>
