<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1" >

        <h3 class="my-1" th:text="#{titulo.tabprecos}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{titulo.cadastros.tabprecos}"/> 


            <!-- form complex example -->
            <div class="card-body">
                <form th:action="${tabpreco.cdTabpreco == 0}?  @{/tabpreco/save}: @{/tabpreco/update}" th:object="${tabpreco}" method="post">
                    <div class="form-row mt-4">
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdTabpreco"  th:text="#{lbcodigo}"/>
                            <input type="text" class="form-control" id="cdTabpreco" th:placeholder="#{lbcodigo}" th:field="*{cdTabpreco}" th:readonly="${tabpreco.cdTabpreco != null}"/>
                            <span th:if="${#fields.hasErrors('cdTabpreco')}" th:errors="*{cdTabpreco}" class="badge badge-danger" th:readonly="${tabpreco.cdTabpreco == 0}"/>
                        </div>
                        <div class="col-sm-3 pb-3 pr-3">
                            <label th:for="vlMetrocubico" th:text="#{lbvalormetrocubico}"/>
                            <input required type="number"  step="0.01" class="form-control" th:placeholder="#{lbvalormetrocubico}" th:field="*{vlMetrocubico}"/>
                            <span th:if="${#fields.hasErrors('vlMetrocubico')}" th:errors="*{vlMetrocubico}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-3 pb-3 pr-3">
                            <label th:for="vlTaxaadm" th:text="#{lbvltaxaadm}"/>
                            <input required type="number"  step="0.01" class="form-control" th:placeholder="#{lbvltaxaadm}" th:field="*{vlTaxaadm}"/>
                            <span th:if="${#fields.hasErrors('vlTaxaadm')}" th:errors="*{vlTaxaadm}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="dtVigenciaini"  th:text="#{lbperiodoinicial}"/>
                            <input type="date" class="form-control" id="dtVigenciaini" th:placeholder="#{lbperiodoinicial}" th:field="*{dtVigenciaini}"/>
                            <span  th:if="${#fields.hasErrors('dtVigenciaini')}" th:errors="*{dtVigenciaini}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="dtVigenciafim"  th:text="#{lbperiodofinal}"/>
                            <input type="date" class="form-control" id="dtVigenciafim" th:placeholder="#{lbperiodofinal}" th:field="*{dtVigenciafim}"/>
                            <span  th:if="${#fields.hasErrors('dtVigenciafim')}" th:errors="*{dtVigenciafim}" class="badge badge-danger"/>
                        </div>

                        <div class="col-sm-3 col-lg-3 ">
                            <label th:for="stAtivo"   th:text="#{lbstatus}"/>
                            <select id="stAtivo" class="form-control" th:field="*{stAtivo}" >
                                <option th:value="true" th:text="#{lbativo}"/>
                                <option th:value="false" th:text="#{lbinativo}"/>
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/tabpreco/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        </form>
        <script type="text/javascript">
            $(window).on('load', function () {

                $('.selectpicker').selectpicker({

                });
            });
            if (document.getElementById('cdTabpreco').value.length === 0)
                document.getElementById('pais').selectedIndex = -1;
        </script>  
    </div>
</div>