<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div class="container" th:fragment="corpo">
        <h1 th:text="#{titulo.cadastros.estados}"></h1>
        <hr>
            <div>
                <form th:action="${estado.cdEstado == null}?  @{/estado/save}: @{/estado/update}" th:object="${estado}" method="post">
                    <div class="form-group">
                        <label th:for="cdEstado" th:text="#{lbcodigo}"></label>
                        <input type="text" class="form-control" id="cdEstado" th:field="*{cdEstado}" />
                        <span th:if="${#fields.hasErrors('cdEstado')}" th:errors="*{cdEstado}" class="badge badge-danger" th:readonly="${estado.cdEstado == null}"></span>
                    </div>
                    <div class="form-group">
                        <label th:for="dsEstado" th:text="#{lbdescricao}"></label>
                        <input type="text" class="form-control" id="dsEstado" th:field="*{dsEstado}" />
                        <span th:if="${#fields.hasErrors('dsEstado')}" th:errors="*{dsEstado}" class="badge badge-danger"></span>
                    </div>
                    <div class="form-group">
                        <label th:for="sgEstado" th:text="#{lbsigla}"></label>
                        <input type="text" class="form-control" id="sgEstado" th:field="*{sgEstado}" />
                        <span th:if="${#fields.hasErrors('sgEstado')}" th:errors="*{sgEstado}" class="badge badge-danger"></span>
                    </div>
                    <div class="form-group">
                        <label th:for="pais.cdPais" th:text="#{lbcodigopais}"></label>
                        <input type="text" class="form-control" id="pais.cdPais" th:field="*{pais.cdPais}" >
                            <span th:if="${#fields.hasErrors('pais.cdPais')}" th:errors="*{pais.cdPais}" class="badge badge-danger"></span>
                    </div>
                    <div class="form-group">
                        <label th:for="pais.dsPais" th:text="#{lbdescricaopais}"></label>
                        <input type="text" class="form-control" id="pais.dsPais" th:field="*{pais.dsPais}" >
                            <span th:if="${#fields.hasErrors('pais.dsPais')}" th:errors="*{pais.dsPais}" class="badge badge-danger"></span>
                    </div>
                    <div class="form-group">
                        <label th:for="stAtivo"   th:text="#{lbstatus}"></label>
                        <select id="stAtivo" th:field="*{stAtivo}">
                            <option th:value="true" th:text="#{lbativo}"></option>
                            <option th:value="false" th:text="#{lbinativo}"> </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"></button>
                        <button type="button" class="btn btn-warning" onclick="history.go(-1)" th:text="#{lbcancelar}"></button>
                    </div>
                </form>
            </div>
    </div>
</html>