<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1" >

        <h3 class="my-1" th:text="#{titulo.estados}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{titulo.cadastros.estados}"/> 


            <!-- form complex example -->
            <div class="card-body">
                <form th:action="${estado.cdEstado == null}?  @{/estado/save}: @{/estado/update}" th:object="${estado}" method="post">
                    <div class="form-row mt-4">
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdEstado"  th:text="#{lbcodigo}"/>
                            <input type="text" class="form-control" id="cdEstado" th:placeholder="#{lbcodigo}" th:field="*{cdEstado}" th:readonly="${estado.cdEstado != null}"/>
                            <span th:if="${#fields.hasErrors('cdEstado')}" th:errors="*{cdEstado}" class="badge badge-danger" th:readonly="${estado.cdEstado == null}"/>
                        </div>
                        <div class="col-sm-7 pb-3 pr-3">
                            <label th:for="dsEstado" th:text="#{lbdescricao}"/>
                            <input type="text" class="form-control" id="dsEstado" th:placeholder="#{lbdescricao}" th:field="*{dsEstado}"/>
                            <span th:if="${#fields.hasErrors('dsEstado')}" th:errors="*{dsEstado}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 col-lg-1 pb-3">
                            <label th:for="sgEstado" th:text="#{lbsigla}"/>
                            <input type="text" class="form-control" id="sgEstado" th:field="*{sgEstado}" style="text-transform:uppercase"/>
                            <span th:if="${#fields.hasErrors('sgEstado')}" th:errors="*{sgEstado}" class="badge badge-danger"></span>
                        </div>
                        <div class="col-sm-2 col-lg-3">

                            <label th:for="pais" th:text="#{lbpais}"></label> <p/>
                            <select data-placeholder="Selecione o País" class="selectpicker form-control" id="pais"   data-live-search="true" th:field="*{pais.cdPais}">
                                <option th:each="i : ${paises}"  th:value="${i.cdPais}" th:text="${i.cdPais + ' - ' + i.dsPais }"/>

                            </select>
                            <span  th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}" class="badge badge-danger"/>
                        </div>

                        <div class="col-sm-3 col-lg-3 ">
                            <label th:for="stAtivo"   th:text="#{lbstatus}"/>
                            <select id="stAtivo" class="form-control" th:field="*{stAtivo}" >
                                <option th:value="true" th:text="#{lbativo}"/>
                                <option th:value="false" th:text="#{lbinativo}"/>
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/estado/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        </form>
        <script type="text/javascript">
            $(window).on('load', function () {

                $('.selectpicker').selectpicker({

                });
            });
            if (document.getElementById('cdEstado').value.length === 0)
                document.getElementById('pais').selectedIndex = -1;
        </script>  
    </div>
</div>