<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1" >

        <h3 class="my-1" th:text="#{titulo.usuarios}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{lbalterarsenha}"/> 
            <div class="alert alert-danger" th:if="${message}" th:text="${message}" role="alert"/>


            <!-- form complex example -->
            <div class="card-body">
                <form th:action="@{/usuario/password/save}" th:object="${usuario}" method="post">
                    <div class="form-row mt-4">
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdUsuario"  th:text="#{lbcodigo}"/>
                            <input type="text" class="form-control" id="cdUsuario" th:placeholder="#{lbcodigo}" th:field="*{cdUsuario}" readonly/>
                        </div>
                        <div class="col-sm-6 pb-3 pr-3">
                            <label th:for="nickUsuario" th:text="#{lbnickusuario}"/>
                            <input type="text" class="form-control" id="nickUsuario" th:placeholder="#{lbnickusuario}" th:field="*{nickUsuario}" readonly/>
                        </div>
                        <div class="col-sm-4 pb-3 pr-3">
                            <label th:for="snUsuario" th:text="#{lbsenha}"/>
                            <input type="password" class="form-control "id="snUsuario" th:placeholder="#{lbsenha}" th:field="*{snUsuario}"/>
                            <span th:if="${#fields.hasErrors('snUsuario')}" th:errors="*{snUsuario}" class="badge badge-danger"/>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/usuario/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        </form>
        <script type="text/javascript">
            $(window).on('load', function () {

                $('.selectpicker').selectpicker({

                });
            });
            if (document.getElementById('nickUsuario').value.length === 0) {
                document.getElementById('tipousuario').selectedIndex = -1;
            }
        </script>  
    </div>
</div>