<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1" >
        <h3 class="my-1" th:text="#{titulo.tipousuarios}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{titulo.cadastros.tipousuarios}"/> 


            <!-- form complex example -->
            <div class="card-body">
                <form th:action="@{/tipousuario/permissoes/save}" th:object="${tipousuario}" method="post">
                    <div class="form-row mt-4">
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdTipousuario"  th:text="#{lbcodigo}"/>
                            <input type="text" class="form-control" id="cdTipousuario" th:placeholder="#{lbcodigo}" th:field="*{cdTipousuario}" readonly/>
                        </div>
                        <div class="col-sm-10 pb-3 pr-3">
                            <label th:for="dsTipousuario" th:text="#{lbdescricao}"/>
                            <input type="text" class="form-control" id="dsTipousuario" th:placeholder="#{lbdescricao}" th:field="*{dsTipousuario}" readonly/>
                        </div>
                        <div class="card border-primary container pb-3 pr-3">
                            <div class="card-body pb-3">
                                <table class="table table-striped table-bordered table-responsive-md nowrap" id="dataTable">
                                    <thead>
                                        <tr th:text="#{lbpermissoes}"/>
                                    </thead>


                                    <tbody id="dados"> 
                                        <tr th:each="permissao : ${permissoes}">
                                            <td> 
                                                <ul>
                                                    <li >
                                                        <input type="checkbox" th:checked="${permissao.stMarcado}" name="permissaotipousuariosdados" th:value="${permissao.permissao.cdPermissao}" th:text="${permissao.permissao.nmRotina}" />
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/tipousuario/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>