<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1" >

        <h3 class="my-1" th:text="#{titulo.permissaotipousuarios}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{titulo.cadastros.permissaotipousuarios}"/> 


            <!-- form complex example -->
            <div class="card-body">
                <form th:action="${permissaotipousuario.cdPermissaotipousuario == null}?  @{/permissaotipousuario/save}: @{/permissaotipousuario/update}" th:object="${permissaotipousuario}" method="post">
                    <div class="form-row mt-4">
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdPermissaotipousuario"  th:text="#{lbcodigo}"/>
                            <input type="text" class="form-control" id="cdPermissaotipousuario" th:placeholder="#{lbcodigo}" th:field="*{cdPermissaotipousuario}" readonly/>
                            <span th:if="${#fields.hasErrors('cdPermissaotipousuario')}" th:errors="*{cdPermissaotipousuario}" class="badge badge-danger" th:readonly="${permissaotipousuario.cdPermissaotipousuario == null}"/>
                        </div>
                        <div class="col-sm-7">
                            <label th:for="tipousuario" th:text="#{lbtipousuario}"></label> <p/>
                            <select data-placeholder="Selecione o País"  data-none-selected-text class="selectpicker form-control" id="tipousuario"   data-live-search="true" th:field="*{tipousuario.cdTipousuario}">
                                <option th:each="i : ${tipousuarios}"  th:value="${i.cdTipousuario}" th:text="${i.cdTipousuario + ' - ' + i.dsTipousuario}"/>
                            </select>
                            <span  th:if="${#fields.hasErrors('tipousuario')}" th:errors="*{tipousuario}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-7">
                            <label th:for="permissao" th:text="#{lbpermissao}"></label> <p/>
                            <select data-placeholder="Selecione o País"  data-none-selected-text class="selectpicker form-control" id="permissao"   data-live-search="true" th:field="*{permissao.cdPermissao}">
                                <option th:each="i : ${permissoes}"  th:value="${i.cdPermissao}" th:text="${i.cdPermissao + ' - ' + i.nmRotina}"/>
                            </select>
                            <span  th:if="${#fields.hasErrors('permissao')}" th:errors="*{permissao}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-3 pb-3 pr-3">
                            <label th:for="dtInclusao"  th:text="#{lbperiodofinal}"/>
                            <input type="date" class="form-control datepicker" id="dtInclusao" th:placeholder="#{lbperiodofinal}" readonly th:field="*{dtInclusao}"/>
                        </div>
                        <div class="col-sm-3 pb-3 pr-3">
                            <label th:for="dtUltimaatualizacao"  th:text="#{lbperiodofinal}"/>
                            <input type="date" class="form-control datepicker" id="dtUltimaatualizacao" th:placeholder="#{lbperiodofinal}" readonly th:field="*{dtUltimaatualizacao}"/>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/permissaotipousuario/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        </form>
        <script type="text/javascript">
            $(window).on('load', function () {

                $('.selectpicker').selectpicker({

                });
            });
            if (document.getElementById('dtInclusao').value.length === 0) {
                document.getElementById('tipousuario').selectedIndex = -1;
                document.getElementById('permissao').selectedIndex = -1;
            }
        </script>  
    </div>
</div>