<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1" >

        <h3 class="my-1" th:text="#{titulo.enderecos}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{titulo.cadastros.enderecos}"/> 


            <!-- form complex example -->
            <div class="card-body">
                <form th:action="${endereco.cdEndereco == null}?  @{/endereco/save}: @{/endereco/update}" th:object="${endereco}" method="post">
                    <div class="form-row mt-4">
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdEndereco"  th:text="#{lbcodigo}"/>
                            <input type="text" class="form-control" id="cdEndereco" th:placeholder="#{lbcodigo}" th:field="*{cdEndereco}" th:readonly="${endereco.cdEndereco != null}" style="text-transform:uppercase"/>
                            <span th:if="${#fields.hasErrors('cdEndereco')}" th:errors="*{cdEndereco}" class="badge badge-danger" th:readonly="${endereco.cdEndereco == null}"/>
                        </div>
                        <div class="col-sm-1 col-lg-2 pr-3">
                            <label th:for="nrLogradouro" th:text="#{lbnrlogradouro}"/>
                            <input type="text" class="form-control" id="nrLogradouro" th:placeholder="#{lbnrlogradouro}" th:field="*{nrLogradouro}"/>
                            <span th:if="${#fields.hasErrors('nrLogradouro')}" th:errors="*{nrLogradouro}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-3 col-lg-3 pr-3">
                            <label th:for="nmBairro" th:text="#{lbbairro}"/>
                            <input type="text" class="form-control" id="nmBairro" th:placeholder="#{lbbairro}" th:field="*{nmBairro}"/>
                            <span th:if="${#fields.hasErrors('nmBairro')}" th:errors="*{nmBairro}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-1 col-lg-2 pr-3">
                            <label th:for="nrCep" th:text="#{lbcep}"/>
                            <input type="text" class="form-control" id="nrCep" th:placeholder="#{lbcep}" th:field="*{nrCep}"/>
                            <span th:if="${#fields.hasErrors('nrCep')}" th:errors="*{nrCep}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-3 col-lg-3 pr-3">
                            <label th:for="nmRua" th:text="#{lbrua}"/>
                            <input type="text" class="form-control" id="nmRua" th:placeholder="#{lbrua}" th:field="*{nmRua}"/>
                            <span th:if="${#fields.hasErrors('nmRua')}" th:errors="*{nmRua}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 col-lg-2 pr-3">
                            <label th:for="nrLatitude" th:text="#{lblatitude}"/>
                            <input type="text" class="form-control" id="nrLatitude" th:placeholder="#{lblatitude}" th:field="*{nrLatitude}"/>
                            <span th:if="${#fields.hasErrors('nrLatitude')}" th:errors="*{nrLatitude}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 col-lg-2 pr-3">
                            <label th:for="nrLongitude" th:text="#{lblongitude}"/>
                            <input type="text" class="form-control" id="nrLongitude" th:placeholder="#{lblongitude}" th:field="*{nrLongitude}"/>
                            <span th:if="${#fields.hasErrors('nrLongitude')}" th:errors="*{nrLongitude}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 col-lg-5">
                            <span  th:if="${#fields.hasErrors('municipio')}" th:errors="*{municipio}" class="badge badge-danger"/>
                            <label th:for="municipio" th:text="#{lbmunicipio}"></label> <p/>
                            <select data-placeholder="Selecione o Município" class="selectpicker form-control" id="municipio"   data-live-search="true" th:field="*{municipio.cdMunicipio}">
                                <option id="op1" value="" th:text="Selecione"  />
                                <option th:each="i : ${municipios}"  th:value="${i.cdMunicipio}" th:text="${i.cdMunicipio + ' - ' + i.dsMunicipio }"/>
                            </select>
                        </div>
                        <div class="col-sm-3 col-lg-3 ">
                            <label th:for="stAtivo"   th:text="#{lbstatus}"/>
                            <select id="stAtivo" class="form-control" th:field="*{stAtivo}" >
                                <option th:value="true" th:text="#{lbativo}"/>
                                <option th:value="false" th:text="#{lbinativo}"/>
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/endereco/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            $(window).on('load', function () {

                $('.selectpicker').selectpicker({

                });
            });
            if (document.getElementById('cdEndereco').value.length === 0)
                document.getElementById('municipio').selectedIndex = -1;
        </script>  
    </div>
</div>