<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1" >

        <h3 class="my-1" th:text="#{titulo.municipios}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{titulo.cadastros.municipios}"/> 


            <!-- form complex example -->
            <div class="card-body">
                <form th:action="${municipio.cdMunicipio == null}?  @{/municipio/save}: @{/municipio/update}" th:object="${municipio}" method="post">
                    <div class="form-row mt-4">
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdMunicipio"  th:text="#{lbcodigo}"/>
                                <input type="text" class="form-control" id="cdMunicipio" th:placeholder="#{lbcodigo}" th:field="*{cdMunicipio}" th:readonly="${municipio.cdMunicipio != null}" style="text-transform:uppercase"/>
                            <span th:if="${#fields.hasErrors('cdMunicipio')}" th:errors="*{cdMunicipio}" class="badge badge-danger" th:readonly="${municipio.cdMunicipio == null}"/>
                        </div>
                        <div class="col-sm-7 pb-3 pr-3">
                            <label th:for="dsMunicipio" th:text="#{lbdescricao}"/>
                            <input type="text" class="form-control" id="dsMunicipio" th:placeholder="#{lbdescricao}" th:field="*{dsMunicipio}"/>
                            <span th:if="${#fields.hasErrors('dsMunicipio')}" th:errors="*{dsMunicipio}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 col-lg-5">
                            <span  th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}" class="badge badge-danger"/>
                            <label th:for="estado" th:text="#{lbestado}"></label> <p/>
                            <select data-placeholder="Selecione o País" class="selectpicker" id="estado"   data-live-search="true" th:field="*{estado.cdEstado}">
                                <option id="op1" value="" th:text="Selecione"  />
                                <option th:each="i : ${estados}"  th:value="${i.cdEstado}" th:text="${i.cdEstado + ' - ' + i.dsEstado }"/>
                            </select>
                        </div>
                        <div class="col-sm-3 col-lg-3 ">
                            <label th:for="stAtivo"   th:text="#{lbstatus}"/>
                            <select id="stAtivo" class="form-control" th:field="*{stAtivo}" >
                                <option th:value="true" th:text="#{lbativo}"/>
                                <option th:value="false" th:text="#{lbinativo}"/>
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/municipio/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        </form>
        <script type="text/javascript">
            $(window).on('load', function () {

                $('.selectpicker').selectpicker({

                });
            });
        </script>  
    </div>
</div>