<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1" >

        <h3 class="my-1" th:text="#{titulo.unddconsumidoras}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{titulo.cadastros.unddconsumidoras}"/> 


            <!-- form complex example -->
            <div class="card-body">
                <form th:action="${unidadeconsumidora.cdUnidadeconsumidora == null}?  @{/unddconsumidora/save}: @{/unddconsumidora/update}" th:object="${unidadeconsumidora}" method="post">
                    <div class="form-row mt-4">
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdUnidadeconsumidora"  th:text="#{lbcodigo}"/>
                            <input type="text" class="form-control" id="cdUnidadeconsumidora" th:placeholder="#{lbcodigo}" th:field="*{cdUnidadeconsumidora}" th:readonly="${unidadeconsumidora.cdUnidadeconsumidora != null}"/>
                            <span th:if="${#fields.hasErrors('cdUnidadeconsumidora')}" th:errors="*{cdUnidadeconsumidora}" class="badge badge-danger" th:readonly="${unidadeconsumidora.cdUnidadeconsumidora == null}"/>
                        </div>
                        <div class="col-sm-2 col-lg-6">
                            <label th:for="endereco" th:text="#{lbendereco}"></label> <p/>
                            <select th:placeholder="#{lbselecione}" data-none-selected-text class="selectpicker form-control" id="endereco"   data-live-search="true" th:field="*{endereco.cdEndereco}" >

                                <option th:each="e : ${enderecos}"  class="form-control" th:value="${e.cdEndereco}" th:text="${e.cdEndereco + ' - ' + e.nmRua + ' - ' + e.nrLogradouro }"/>
                            </select>
                            <span  th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 col-lg-3">
                            <label th:for="cliente" th:text="#{lbcliente}"></label> <p/>
                            <select data-placeholder="Selecione o País"  data-none-selected-text class="selectpicker form-control" id="cliente"   data-live-search="true" th:field="*{cliente.cdCliente}">
                                <option th:each="i : ${clientes}"  th:value="${i.cdCliente}" th:text="${i.cdCliente + ' - ' + i.nmCliente}"/>
                            </select>
                            <span  th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 col-lg-3">
                            <label th:for="equipamento" th:text="#{lbequipamento}"></label> <p/>
                            <select data-placeholder="Selecione o País" data-none-selected-text class="selectpicker form-control" id="equipamento"   data-live-search="true" th:field="*{equipamento.cdEquipamento}"> 
                                <option th:each="i : ${equipamentos}"  th:value="${i.cdEquipamento}" th:text="${i.cdEquipamento + ' - ' + i.nrSerie }"/>
                            </select>
                            <span  th:if="${#fields.hasErrors('equipamento')}" th:errors="*{equipamento}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-3 pb-3 pr-3">
                            <label th:for="dtInclusao"  th:text="#{lbdtinclusao}"/>
                            <input type="date" class="form-control" id="dtInclusao" th:placeholder="#{lbdtinclusao}" th:field="*{dtInclusao}" readonly/>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/unddconsumidora/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        </form>
        <script type="text/javascript">
            $(window).on('load', function () {

                $('.selectpicker').selectpicker({

                });
            });
            if (document.getElementById('dtInclusao').value.length === 0) {
                document.getElementById('endereco').selectedIndex = -1;
                document.getElementById('cliente').selectedIndex = -1;
                document.getElementById('equipamento').selectedIndex = -1;
            }
            
        </script>  
    </div>
</div>