<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


    <!-talvez retirar isso aqui

    <link type="text/css" rel="stylesheet" th:href="@{/static/estilo.css}" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <!--link type="text/css" rel="stylesheet" th:href="@{/static/css/menu.css}" /-->
    <link rel="shortcut icon" th:href="@{/static/logo1.png}" />
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <title th:text="#{nomeapp}"> </title>
    </head>
    <body>
        <div th:include="fragmentos/header_nav :: header_nav">
        </div>    

        <div th:include="fragmentos/header2 :: cabecalho">
            <span>carrega fragmento do cabecalho</span>
        </div>

        <!--div class="container" th:include="${conteudo} :: corpo">
            <span>o conteudo sera inserido aqui!</span>
        </div-->

        <footer class="footer" th:insert="fragmentos/footer"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
   
</html>