<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom fonts for this template-->

    <link th:href="@{/webjars/font-awesome/css/all.min.css}" rel="stylesheet"/>



    <!--link type="text/css" rel="stylesheet" th:href="@{/static/css/menu.css}" /-->
    <link rel="shortcut icon" th:href="@{/static/logo1.png}" />


    <!-- Custom styles for this template-->
    <link th:href="@{/static/css/sb-admin.css}" rel="stylesheet"/>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <title th:text="#{nomeapp}"> </title>
    </head>
    <body id="page-top">
        <nav  th:replace="fragmentos/header:: header_nav"/>

        <div th:include="fragmentos/navlateral :: layout"  id="wrapper">
            <span>carrega fragmento do cabecalho</span>
        </div>

        <!--div class="container" th:include="${conteudo} :: corpo">
            <span>o conteudo sera inserido aqui!</span>
        </div-->

    
        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/webjars/jquery-easing/jquery.easing.min.js}"></script>

        <script th:src="@{/static/js/sb-admin.min.js}"></script>
    </body>

</html>