<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div class="container" th:fragment="corpo">
        <h1 th:text="#{titulo.cadastros.equipamentos}"></h1>
        <hr>
            <div>
                <form th:action="${equipamento.cdEquipamento == null}?  @{/equipamento/save}: @{/equipamento/update}" th:object="${equipamento}" method="post">
                    <input type="hidden" id="cdEquipamento" th:field="*{cdEquipamento}"/>
                    <div class="form-group">
                        <label th:for="dsEquipamento">Descrição: </label>
                        <input type="text" class="form-control" id="dsEquipamento" th:field="*{dsEquipamento}" />
                        <span th:if="${#fields.hasErrors('dsEquipamento')}" th:errors="*{dsEquipamento}" class="label label-danger"></span>
                    </div>
                    <div class="form-group">
                        <label th:for="nrSerie">Número de série: </label>
                        <input type="text" class="form-control" id="nrSerie" th:field="*{nrSerie}" >
                            <span th:if="${#fields.hasErrors('nrSerie')}" th:errors="*{nrSerie}" class="label label-danger"></span>
                    </div>
                    <div class="form-group">
                        <label th:for="contInicial">Contador Inicial: </label>
                        <input type="text" class="form-control" id="contInicial" th:field="*{contInicial}"  th:disabled="${equipamento.cdEquipamento >0}" />
                        <span th:if="${#fields.hasErrors('contInicial')}" th:errors="*{contInicial}" class="label label-danger"></span>
                    </div>
                    <div class="form-group">
                        <label th:for="contAtual">Contador Atual: </label>
                        <input type="text" class="form-control" id="contAtual" th:field="*{contAtual} " th:disabled="${equipamento.cdEquipamento != null}" />
                        <span th:if="${#fields.hasErrors('contAtual')}" th:errors="*{contAtual}" class="label label-danger"></span>
                    </div>
                    <div class="form-group">
                        <label th:for="status">Status: </label>
                        <select id="stAtivo" th:field="*{stAtivo}">
                            <option th:each="s : ${status}" th:value="${s}" th:text="${s.desc}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                        <button type="button" class="btn btn-warning" onclick="history.go(-1)">Cancelar</button>
                    </div>
                </form>
            </div>
    </div>
</html>