<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1">

        <h3 class="my-1" th:text="#{titulo.condicaopagtos}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{titulo.cadastros.condicaopagtos}"/> 


            <!-- form complex example -->
            <div class="card-body ">
                <form th:action="@{/condicaopagto/save}" th:object="${condicaopagto}" method="post" >
                    <div class="form-row mt-4"> 
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdCondicaopagto"  th:text="#{lbcodigo}"/>
                            <input type="text" class="form-control" id="cdCondicaopagto" th:placeholder="#{lbcodigo}" th:field="*{cdCondicaopagto}" th:readonly="${condicaopagto.cdCondicaopagto != null && condicaopagto.cdCondicaopagto != '' && !#fields.hasErrors('cdCondicaopagto')}" style="text-transform:uppercase"/>
                            <span th:if="${#fields.hasErrors('cdCondicaopagto')}" th:errors="*{cdCondicaopagto}" class="badge badge-danger" th:readonly="${condicaopagto.cdCondicaopagto == null}"/>
                        </div>
                        <div class="col-sm-7 pb-3 pr-3">
                            <label th:for="dsCondicaopagto" th:text="#{lbdescricao}"/>
                            <input type="text" class="form-control" id="dsCondicaopagto" th:placeholder="#{lbdescricao}" th:field="*{dsCondicaopagto}"/>
                            <span th:if="${#fields.hasErrors('dsCondicaopagto')}" th:errors="*{dsCondicaopagto}" class="badge badge-danger"/>
                        </div>

                        <div class="col-sm-3 col-lg-3 pb-3">
                            <label th:for="stAtivo"   th:text="#{lbstatus}"/>
                            <select id="stAtivo" class="form-control" th:field="*{stAtivo}" >
                                <option th:value="true" th:text="#{lbativo}"/>
                                <option th:value="false" th:text="#{lbinativo}"/>
                            </select>
                        </div>

                        <div class="card border-primary container">
                            <div class="card-body pb-3">
                                <span class="float-right mb-3 mr-2 "><button class="fa fa-plus form-control text-success" type="submit" name="addRow" th:text="#{lbadicionar}"/></span>
                                <table class="table table-striped table-bordered table-responsive-md nowrap" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th th:text="#{lbqtdias}"/>
                                            <th th:text="#{lbproporcao}"/>
                                            <th th:text="#{lbacao}"/>
                                        </tr>
                                    </thead>

                                    <div class="col-sm-2 pb-3 pr-3">
                                        <label th:for="pcTotal"  th:text="#{lbquotatotal}"/>
                                        <input readonly  type="number" th:field="*{totalQuota}"  class="form-control"/>
                                        <span th:if="${#fields.hasErrors('totalQuota')}" th:errors="*{totalQuota}" class="badge badge-danger" readonly/>
                                    </div>
                                    <span th:if="${#fields.hasErrors('itemcondicaopagtos')}" th:errors="*{itemcondicaopagtos}" class="badge badge-danger"/>
                                    <tbody id="dados"> 
                                        <tr th:each="e, rowStat : *{itemcondicaopagtos}" >
                                            <td> 
                                                <input required type="number" onkeypress="return isNumberKey(event);" name="qtDias" class="form-control" th:placeholder="#{lbqtdias}" th:field="*{itemcondicaopagtos[__${rowStat.index}__].qtDias}"/>
                                                <span th:if="${#fields.hasErrors('itemcondicaopagtos[__${rowStat.index}__].qtDias')}" th:errors="*{itemcondicaopagtos[__${rowStat.index}__].qtDias}" class="badge badge-danger"/>
                                            </td>
                                            <td> 
                                                <input required type="number" step="0.01" name="pcQuota" onkeyup="atualizaQuota()" onchange="atualizaQuota();" class="form-control" th:placeholder="#{lbproporcao}" th:field="*{itemcondicaopagtos[__${rowStat.index}__].pcQuota}"/>
                                                <span th:if="${#fields.hasErrors('itemcondicaopagtos[__${rowStat.index}__].pcQuota')}" th:errors="*{itemcondicaopagtos[__${rowStat.index}__].pcQuota}" class="badge badge-danger"/>
                                            </td>  
                                            <td>
                                                <button class="fa fa-times form-control text-danger" th:value="${rowStat.index}"  type="submit" name="removeRow" th:text="#{lbexcluir}"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/condicaopagto/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        </form>
    </div>
    <script>
        atualizaQuota();
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function atualizaQuota() {
            var valor = 0;
            var tabela = document.getElementById('dados');
            var linha = tabela.rows.length;
            for (i = 0; i < linha; i++) {
                if (! isNaN(parseFloat(tabela.rows[i].cells[1].children[0].value)))
                    valor += parseFloat(tabela.rows[i].cells[1].children[0].value);
            }
            if (isNaN(valor)) {
                document.getElementById('totalQuota').value = 0;
            } else {
                document.getElementById('totalQuota').value = valor;
            }
        }
    </script>
</div>