<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1" >

        <h3 class="my-1" th:text="#{titulo.clientes}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{titulo.cadastros.clientes}"/> 
            <div class="alert alert-danger" th:if="${message}" th:text="${message}" role="alert"/>


            <!-- form complex example -->
            <div class="card-body">
                <form th:action="${cliente.cdCliente == 0}?  @{/cliente/save}: @{/cliente/update}" th:object="${cliente}" method="post">
                    <div class="form-row mt-4">
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdCliente"  th:text="#{lbcodigo}"/>
                            <input type="text" class="form-control" id="cdCliente" th:placeholder="#{lbcodigo}" th:field="*{cdCliente}" th:readonly="${cliente.cdCliente != null}"/>
                            <span th:if="${#fields.hasErrors('cdCliente')}" th:errors="*{cdCliente}" class="badge badge-danger" th:readonly="${cliente.cdCliente == null}"/>
                        </div>
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="nrLoja" th:text="#{lbnrloja}"/>
                            <input type="text" class="form-control" id="nrLoja" pattern="[0-9]+$" min="4" th:placeholder="#{lbnrloja}" th:field="*{nrLoja}"/>
                            <span th:if="${#fields.hasErrors('nrLoja')}" th:errors="*{nrLoja}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="tpCliente"   th:text="#{lbtpcliente}"/>
                            <select id="tpCliente" class="form-control" th:field="*{tpCliente}" >
                                <option th:value="PF" th:text="#{lbpf}"/>
                                <option th:value="PJ" th:text="#{lbpj}"/>
                            </select>
                        </div>
                        <div class="col-sm-3 pb-3 pr-3">
                            <label th:for="nrCnpjcpf" th:text="#{lbcnpjcpf}"/>
                            <input type="text" class="form-control" id="nrCnpjcpf" th:placeholder="#{lbcnpjcpf}" th:field="*{nrCnpjcpf}" th:readonly="${cliente.cdCliente !=0}"/>
                            <span th:if="${#fields.hasErrors('nrCnpjcpf')}" th:errors="*{nrCnpjcpf}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-6 pb-3 pr-3">
                            <label th:for="nmCliente" th:text="#{lbnmcliente}"/>
                            <input type="text" class="form-control" id="nmCliente" th:placeholder="#{lbnmcliente}" th:field="*{nmCliente}"/>
                            <span th:if="${#fields.hasErrors('nmCliente')}" th:errors="*{nmCliente}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-6 pb-3 pr-3">
                            <label th:for="nmFantasia" th:text="#{lbnmfantasia}"/>
                            <input type="text" class="form-control" id="nmFantasia" th:placeholder="#{lbnmfantasia}" th:field="*{nmFantasia}"/>
                            <span th:if="${#fields.hasErrors('nmFantasia')}" th:errors="*{nmFantasia}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-1 pb-3 pr-3">
                            <label th:for="nrDdd" th:text="#{lbddd}"/>
                            <input type="text" class="form-control" id="nrDdd" th:placeholder="#{lbddd}" th:field="*{nrDdd}"/>
                            <span th:if="${#fields.hasErrors('nrDdd')}" th:errors="*{nrDdd}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="nrTelefone" th:text="#{lbnrtelefone}"/>
                            <input type="text" class="form-control" id="nrTelefone" th:placeholder="#{lbnrtelefone}" th:field="*{nrTelefone}"/>
                            <span th:if="${#fields.hasErrors('nrTelefone')}" th:errors="*{nrTelefone}" class="badge badge-danger"/>
                        </div>                        
                        <div class="col-sm-9 pb-3 pr-3 ">
                            <label th:for="dsEmail" th:text="#{lbdsemail}"/>
                            <input type="email" class="form-control" id="dsEmail" th:placeholder="#{lbdsemail}" th:field="*{dsEmail}"/>
                            <span th:if="${#fields.hasErrors('dsEmail')}" th:errors="*{dsEmail}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 col-lg-6">
                            <label th:for="endereco" th:text="#{lbendereco}"></label> <p/>
                            <select th:placeholder="#{lbselecione}" data-none-selected-text class="selectpicker form-control" id="endereco"   data-live-search="true" th:field="*{endereco.cdEndereco}" >

                                <option th:each="e : ${enderecos}"  class="form-control" th:value="${e.cdEndereco}" th:text="${e.cdEndereco + ' - ' + e.nmRua + ' - ' + e.nrLogradouro }"/>
                            </select>
                            <span  th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}" class="badge badge-danger"/>
                        </div>
                        <div class="col-sm-2 col-lg-6">
                            <label th:for="formapagto" th:text="#{lbformapagto}"></label> <p/>
                            <select th:placeholder="#{lbselecione}"  class="selectpicker form-control" id="formapagto"   data-live-search="true" th:field="*{formapagto.cdFormapagto}">
                                <option th:each="i : ${formapagtos}"  th:value="${i.cdFormapagto}" th:text="${i.cdFormapagto + ' - ' + i.dsFormapagto }"/>
                            </select>
                            <span  th:if="${#fields.hasErrors('formapagto')}" th:errors="*{formapagto}" class="badge badge-danger"/> 
                        </div>
                        <div class="col-sm-3 col-lg-3 pb-3 ">
                            <label th:for="stStatus"   th:text="#{lbstatus}"/>
                            <select id="stStatus" class="form-control" th:field="*{stStatus}" >
                                <option th:value="true" th:text="#{lbativo}"/>
                                <option th:value="false" th:text="#{lbinativo}"/>
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/cliente/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        </form>
        <script type="text/javascript">
            $(window).on('load', function () {

            });
            if (document.getElementById('nmCliente').value.length === 0) {
                document.getElementById('endereco').selectedIndex = -1;
                document.getElementById('formapagto').selectedIndex = -1;
            }
        </script>  
    </div>
</div>