<div th:fragment="corpo">
    <div class="col-md-10 offset-md-1" >

        <h3 class="my-1" th:text="#{titulo.permissoes}"/>
        <hr class="my-3"/>
        <div class="card border-primary mb-2">
            <div class="card-header" th:text="#{titulo.cadastros.permissoes}"/> 
            <div class="alert alert-danger" th:if="${message}" th:text="${message}" role="alert"/>


            <!-- form complex example -->
            <div class="card-body">
                <form th:action="${permissao.cdPermissao == 0}?  @{/permissao/save}: @{/permissao/update}" th:object="${permissao}" method="post">
                    <div class="form-row mt-4">
                        <div class="col-sm-2 pb-3 pr-3">
                            <label th:for="cdPermissao"  th:text="#{lbcodigo}"/>
                            <input type="text" class="form-control" id="cdPermissao" th:placeholder="#{lbcodigo}" th:field="*{cdPermissao}" readonly/>
                        </div>
                        <div class="col-sm-7 pb-3 pr-3">
                            <label th:for="nmRotina" th:text="#{lbnmrotina}"/>
                            <input type="text" class="form-control" id="nmRotina" th:placeholder="#{lbdescricao}" th:field="*{nmRotina}"/>
                            <span th:if="${#fields.hasErrors('nmRotina')}" th:errors="*{nmRotina}" class="badge badge-danger"/>
                        </div>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-sm3 pb-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{lbconfirmar}"/>
                                </div>
                                <div class="col-sm3 pb-3">
                                    <a th:href="@{/permissao/}" ><button type="button" class="btn btn-warning"  th:text="#{lbcancelar}"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        </form>
    </div>
</div>